.color-blue {
    background-color: #4B89DC;
}

.color-green {
    background-color: #36BC9B;
}

.color-red {
    background-color: #EB5467;
}

.color-yellow {
    background-color: #F6BB43;
}

.color-gray {
    background-color: #ebebeb;
}

.color-Sunday {
    background-color: #f87171;
}
.color-Monday {
    background-color: #fbbf24;
}
.color-Tuesday {
    background-color: #f472b6;
}
.color-Wednesday {
    background-color: #34d399;
}
.color-Thursday {
    background-color: #fb923c;
}
.color-Friday {
    background-color: #22d3ee;
}
.color-Saturday {
    background-color: #818cf8;
}